@import url("https://fonts.googleapis.com/css2?family=Changa&display=swap");
* {
  font-family: "Changa", sans-serif;
}
.c_container {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  padding: 0.5em;
}
.flex_right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}
.delete_row{
    background-color: white;
    border: none;
    color: red;
    font-size: large;
}
.gpa_table{
    /* border: 1px solid black; */
    width: 100%;
}
.gpa_table tr{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.gpa_table td{
    /* border: 1px solid black; */
    text-align: right;
    width: 20%;
}
.gpa_table input{
    width: 100%;
}
.gpa_table select{
    width: 100%;
}
.table_btns{
    width: 100%;
    text-align: right;
}
.table_btns button,.table_btns a{
    background-color: white;
    border: 1px solid blue;
    border-radius: 3em;
    padding: 0.2em 0.5em;
    color: blue;
    margin-left: 0.5em;
    text-decoration: none;
    font-size: 0.9em;
}
.conc_grades{
    display: flex;
    flex-direction: column;
}
.conc_grades >div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.bold{
    font-weight: bold;
}