@import url("https://fonts.googleapis.com/css2?family=Changa&display=swap");
* {
  font-family: "Changa", sans-serif;
}
.p_heading{
    font-size: 1em;
}
.c_container {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  padding: 0.5em;
}
.flex_right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}
.delete_row,.insert_row{
    /* background-color: white; */
    /* border: none; */
    /* color: red; */
    /* font-size: large; */
    width: 1.2em;
    margin-top: 0.5em;
}
.insert_row img{
    width: 1.9em;
}
.delete_row:hover,.insert_row:hover{
    cursor: pointer;
}
.gpa_table{
    /* border: 1px solid black; */
    width: 100%;
}
.gpa_table tr{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.3em;
}
.gpa_table td{
    /* border: 1px solid black; */
    text-align: right;
    width: 20%;
}
.gpa_table input{
    width: 100%;
}
.gpa_table select{
    width: 100%;
}
.table_btns{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    text-align: right;
}
.table_btns button{
    background-color: white;
    border: 1px solid blue;
    border-radius: 3em;
    padding: 0.2em 0.5em;
    color: blue;
    margin-left: 0.5em;
    text-decoration: none;
    font-size: 0.9em;
}
.table_btns>div:first-child{
    padding-right: 1em;
}
.table_btns>div:last-child{
    padding-left: 10em;
}
.table_btns>div:first-child>button:first-child{
    border: none;
}
.conc_grades{
    display: flex;
    flex-direction: column;
}
.conc_grades >div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.conc{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}
.conc>div{
    text-align: right;
}

.bold{
    font-weight: bold;
}
.center{
    text-align: center;
}

/* indicator css */
.indicator_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
  }
  
  .gauge {
    width: 100%;
    max-width: 250px;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    color: #004033;
  }
  
  .gauge__body {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background: #b4c0be;
    position: relative;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    overflow: hidden;
  }
  
  .gauge__fill {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 100%;
    background: #009578;
    transform-origin: center top;
    transform: rotate(0.25turn);
    transition: transform 0.2s ease-out;
  }
  
  .gauge__cover {
    width: 75%;
    height: 150%;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
  
    /* Text */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25%;
    box-sizing: border-box;
    color: black;
  }
#pass_failed,#pass_failed2{
    font-size: 1.6em;
    margin-top: 0;
}

#calc_grades_form{
    width: 100%;
}

.p_inputs input{
    border-radius: 2em;
    padding: 0.5em;
    text-align: right;
}
#calc_grades_form button[type="submit"]{
    margin-top: -50rem;
    border-color: #23E2D2;
    background-color: #23E2D2;
    color: white;
}
#calc_grades_form button[type="submit"]:hover{
    transition-duration:0.4s; 
    transform: scale(1.1);
}
#calc_grades_form input,#calc_grades_form select{
    text-align: right;
    -moz-appearance: none;
}

.p_inputs{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

@media only screen and (max-width:720px) {
    .c_container{
        width: 90%;
    }
    .conc{
        flex-direction: column;
    }
}
@media only screen and (max-width:500px) {
 .table_btns{
    flex-direction: column;
    padding-top: 0;
 }
 .table_btns>div:last-child{
    padding-left: 0;
 }
 .p_inputs{
    flex-direction: column;
 }
}
.c_divider{
    width: 50%;
    margin: 0 auto;
}